@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,400i,600,600i,700,700i');


@font-face {
    font-family: 'Helvetica Neue';
    src: url('../fonts/helveticaneuecyr-thin-webfont.woff2') format('woff2'),
         url('../fonts/helveticaneuecyr-thin-webfont.woff') format('woff');
    font-weight: 300;
    font-style: normal;

}

@font-face {
    font-family: 'Helvetica Neue';
    src: url('../fonts/helveticaneuecyr-thinitalic-webfont.woff2') format('woff2'),
         url('../fonts/helveticaneuecyr-thinitalic-webfont.woff') format('woff');
    font-weight: normal;
    font-style: italic;

}

@font-face {
    font-family: 'Helvetica Neue';
    src: url('../fonts/helveticaneuecyr-roman-webfont.woff2') format('woff2'),
         url('../fonts/helveticaneuecyr-roman-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Helvetica Neue';
    src: url('../fonts/helveticaneuecyr-italic-webfont.woff2') format('woff2'),
         url('../fonts/helveticaneuecyr-italic-webfont.woff') format('woff');
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: 'Helvetica Neue';
    src: url('../fonts/helveticaneuecyr-medium-webfont.woff2') format('woff2'),
         url('../fonts/helveticaneuecyr-medium-webfont.woff') format('woff');
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: 'Helvetica Neue';
    src: url('../fonts/helveticaneuecyr-mediumitaicl-webfont.woff2') format('woff2'),
         url('../fonts/helveticaneuecyr-mediumitaicl-webfont.woff') format('woff');
    font-weight: 600;
    font-style: italic;
}

@font-face {
    font-family: 'Helvetica Neue';
    src: url('../fonts/helveticaneuecyr-bold-webfont.woff2') format('woff2'),
         url('../fonts/helveticaneuecyr-bold-webfont.woff') format('woff');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Helvetica Neue';
    src: url('../fonts/helveticaneuecyr-bolditalic-webfont.woff2') format('woff2'),
         url('../fonts/helveticaneuecyr-bolditalic-webfont.woff') format('woff');
    font-weight: bold;
    font-style: italic;
}