.wrapper--login {
    height: 100%;
    position: relative;
}

.main-login {
    min-height: 100%;
    overflow: hidden;
    margin: 0;
    &__left {
        background: url('../img/login-left-bg.png') no-repeat 50% 10%;
    }
    &__right {
        font-size: 17px;
        color: #fff;
        background: #465668 url('../img/login-bg.jpg') no-repeat 50% 100%;
        text-align: center;

        h1 {
            margin-top: 105px;
            font-weight: 300;
            color: #fff;
            font-size: 60px;
            margin-bottom: 22px;
            text-align: center;
        }
    }
    &__logo {
        margin: 119px 0 0 20px;
        text-align: center;
    }
    &__logo-link {
        display: inline-block;
        background: url('../img/login-logo.png');
        width: 246px;
        height: 66px;
        text-indent: -9999px;
    }
    &__content {
        max-width: 476px;
        margin: 0 auto;
    }
    &__new {
        margin: 45px 0;
        text-align: center;
        font-size: 21px;
        .btn {
            margin: 0 20px;
            &:hover {
                background: #fff;
            }
        }
    }
}

.form--login {
    margin: 60px auto 0;
    padding: 23px 26px 43px;
    border: solid #dfe0e4;
    border-width: 0 1px 1px 0;
    border-radius: $border-radius;
    background: #fff;
}

@media (min-width: $screen-md-min) and (max-width: $screen-md-max) {
    .main-login {
        &__right {
            min-height: 440px;
            background: #465668 url('../img/login-bg-tablet.jpg') no-repeat 50% 100%;
            h1 {
                margin-top: 92px;
                font-size: 42px;
            }
        }

        &__content {
            max-width: 300px;
            margin: 0 auto;
        }

        &__logo {
            margin-top: 92px;
        }

        &__logo-link {
            background: url('../img/login-logo-tablet.png');
            width: 216px;
            height: 58px;
        }

        &__new {
            margin-top: 30px;
            .btn {
                margin: 20px 20px 0;
            }
        }
    }

    .form--login {
        margin-top: 75px;
    }
}

@media (max-width: $screen-sm-max) {
    .main-login {
        &__right {
            min-height: 440px;
            background: #465668 url('../img/login-bg-tablet.jpg') no-repeat 50% 100%;
            h1 {
                margin-top: 45px;
                font-size: 32px;
            }
        }

        &__content {
            max-width: 280px;
            margin: 0 auto;
            left: 0;
            position: static;
        }

        &__logo {
            margin-top: 44px;
        }

        &__logo-link {
            background: url('../img/login-logo-mobile.png');
            width: 178px;
            height: 47px;
        }

        &__new {
            margin-top: 25px;
            font-size: 18px;
            .btn {
                margin: 20px 20px 0;
            }
        }
    }

    .form--login {
        margin-top: 30px;
        padding-bottom: 30px;
    }
}

@media (max-width: $screen-xs-max) {
    .main-login {
        &__right {
            background: #465668 url('../img/login-bg-mobile.jpg') no-repeat 50% 100%;
        }
    }
}