.main-features-video {
    overflow: hidden;
    text-align: center;
    background: url('../img/features-video-bg.png') no-repeat 50% -50px;
    &__content {
        padding: 80px 0 55px;
        max-width: 800px;
        margin: 0 auto;
    }
    &__video {
        width: 700px;
        margin: 0 auto;
        img {
            display: block;
        }
        &--mobile {
            display: none;
            width: 275px;
        }
    }

    &__header {
        text-align: center;
        margin: 46px 0 26px;
        font-size: 42px;
        font-weight: 300;
    }

    p {
        font-size: 18px;
    }
}

.main-features-section {
    padding: 80px 0 46px;
    font-size: 16px;
    line-height: 1.8;
    h2 {
        line-height: 1.2;
        margin-bottom: 15px;
    }
    img {
        max-width: 100%
    }
    &--1 {
        .main-features-section__pic {
            margin-top: 20px;
        }
        .row {
            background: url('../img/features-section-bg-1.png') no-repeat 0 0;
        }
    }
    &--2 .row {
        background: url('../img/features-section-bg-2.png') no-repeat 95% 0;
    }
}

.main-features-list {
    padding: 45px 0;
    font-size: 18px;
    &__header {
        font-size: 42px;
        font-weight: 300;
        text-align: center;
    }
    &__info {
        text-align: center;
        margin: 20px 0;
    }
    .list {
        font-size: 16px;
    }
}

.main-features-try {
    text-align: center;
    padding: 45px 0 85px;

    &__header.h2 {
        text-align: center;
        font-size: 34px;
        margin-bottom: 50px;
    }
}

@media (min-width: $screen-sm-min) and (max-width: $screen-md-max) {
    .main-features-list .list {
        margin: 0 22%;
    }
}

@media (max-width: $screen-xs-max) {
    .main-features-video {
        &__content {
            padding: 45px 0;
        }
        &__video {
            display: none;
            &--mobile {
                display: block;
            }
        }
        &__header {
            font-size: 29px;
        }
    }
    .main-features-video p {
        font-size: 14px;
    }
    .main-features-section {
        font-size: 13px;
        padding: 50px 0 0;
        h2 {
            margin-top: 10px;
        }
        &--1 .main-features-section__pic {
            margin-top: 0;
        }
    }
    .main-features-list {
        padding: 35px 0;
        .list {
            font-size: 13px;
            li {
                background-position: 0 9px;
                margin: 6px 0 0;
            }
        }
        &__header {
            font-size: 29px;
        }
    }

    .main-features-try {
        font-size: 13px;
        padding: 30px 0 60px;
    }

    .h2.main-features-try__header {
        font-size: 25px;
    }
}
