.footer {
    left: 0;
    right: 0;

    a {
        color: #f1f1f1;

        &:hover, &:focus {
            color: #b4b6be;
            text-decoration: none;
        }
    }

    .row--second {
        font-size: 12px;
        margin-top: 22px;
    }

    &__content {
        @include clearfix;
        color: #a4a4a6;
        background: #2b2d31;
        padding: 52px 0 55px;
        font-size: 13px;
        line-height: 1.8;
        font-weight: 400;
        max-width: 1400px;
        margin: 0 auto;
    }
}

.footer-logo {
    display: inline-block;
    background: url('../img/footer-logo.png') no-repeat;
    width: 130px;
    height: 32px;
    text-indent: -9999px;
    margin-bottom: 20px;
}
.footer-additional a {
    margin-right: 25px;
    &:last-child {
        margin-right: 0;
    }
}
.footer-icons {
    .icon {
        display: inline-block;
        width: 17px;
        height: 17px;
        background: url('../img/icons-social.png');
        margin-right: 28px;

        &--facebook {
            background-position: 0 0;

            &:hover {
                background-position: 0 -17px;
            }
        }
        &--twitter {
            background-position: -17px 0;

            &:hover {
                background-position: -17px -17px;
            }
        }
        &--instagram {
            background-position: -34px 0;

            &:hover {
                background-position: -34px -17px;
            }
        }
        &--youtube {
            background-position: -51px 0;

            &:hover {
                background-position: -51px -17px;
            }
        }
        &:last-child {
            margin-right: 0;
        }
    }
}
@media (max-width: $screen-xs-max) {
    .footer {
        text-align: center;
        padding: 52px 0 50px;
    }
    .footer-icons {
        margin: 10px 0 0;
    }
}