.header {
    @include clearfix;
    background: #fff;
    border-bottom: solid 1px #e0e1e5;
    padding: 18px 34px 19px;

    a {
        color: #1a1b1c;

        &:hover, &:focus {
            color: #777a80;
            text-decoration: none;
        }
    }
}

.header-logo {
    float: left;
    margin-right: 56px;
    position: relative;
    z-index: 1;

    &__link {
        display: block;
        width: 63px;
        height: 49px;
        background: url('../img/header-logo.png') no-repeat;
        background-size: cover;
        text-indent: -9999px;
    }
}

.header-nav {
    float: left;
    margin: 14px 0 0;

    &__item {
        display: inline;
        &:last-child &__link {
            margin-right: 0;
        }
    }

    &__link {
        display: inline-block;
        margin: 0 40px 0 0;
        font-size: 13px;
        font-weight: 600;
    }
}

.header-user-actions {
    float: right;
    margin: 9px 0 0;
    font-size: 13px;
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-weight: 600;

    &__link {
        display: inline-block;

        &--sign-up {
            padding: 6px 20px 7px;

            &:hover, &:focus {
                color: #1a1b1c !important;
            }
        }
        &--login {
            padding: 6px 0;
            margin-left: 27px;
        }
    }
}

@media (min-width: $screen-sm-min) and (max-width: $screen-md-max) {
    .header {
        padding: 24px 28px 29px 22px;
    }
    .header-logo {
        margin-right: 24px;

        &__link {
            background-image: url('../img/header-logo-mobile.png');
            width: 43px;
            height: 33px;
        }
    }
    .header-nav {
        margin-top: 8px;
        &__link {
            margin-right: 26px;
        }
    }
    .header-user-actions {
        margin-top: 3px;

        &__link--login {
            margin-left: 12px;
        }
    }
}

@media (max-width: $screen-xs-max) {
    .header {
        padding: 24px 24px 29px 22px;
        min-height: 33px;
    }
    .header-logo {
        margin: 0;

        &__link {
            background-image: url('../img/header-logo-mobile.png');
            width: 43px;
            height: 33px;
        }
    }
    .header-user-actions {
        position: absolute;
        top: 27px;
        left: 0;
        right: 0;
        text-align: center;
        margin: 0;
    }
    .header-nav-mobile {
        clear: both;
        padding-top: 10px;
    }
}