@import 'mixins/all';
@import 'components/all';
@import 'libs/all';
@import 'header';
@import 'footer';
@import 'login';

.clearfix {
    @include clearfix;
}
.text-center {
    text-align: center !important;
}
.hidden {
    display: none !important;
}

.pull-left {
    float: left;
}

.pull-right {
    float: right;
}

strong {
    font-weight: bold;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-weight: bold;
    color: #2d2d2d;
    text-align: left;
    line-height: 1;
}

h1 {
    font-size: 44px;
}
h2 {
    font-size: 26px;
}
h3 {
    font-size: 21px;
}
h4 {
    font-size: 18px;
}
h5 {
    font-size: 16px;
}
h6 {
    font-size: 14px;
}

html, body {
    position: relative;
    height: 100%;
}

html {
    background: #edeef2;
}
body {
    color: #2f3030;
    font-size: 14px;
    min-width: 320px;
    position: relative;
    font-family: 'Open Sans', sans-serif;
    line-height: 1.6;
}

a {
    color: #bf0000;
    text-decoration: none;
    &:hover,
    &:focus {
        text-decoration: underline;
    }
}

.wrapper {
    width: 100%;
    overflow: hidden;
}

.main-container {
}

.container-fluid {
    @include clearfix;
    max-width: 1130px;
    margin: 0 auto;
}

.main-wecome {
    position: relative;
    padding: 100px 0 90px;
    &:before {
        content: '';
        position: absolute;
        top: 22px;
        left: 50%;
        margin-left: -300px;
        background: url('../img/main-welcome-pic.jpg');
        width: 930px;
        height: 622px;
    }
    &__content {
        position: relative;
        z-index: 1;
    }
    &__text {
        padding-right: 650px;
        margin: 35px 0 37px;
        font-size: 16px;
    }
    h1 {
        font-size: 60px;
    }
    &__top {
        min-height: 497px;
    }
}

.main-welcome-pros {
    p {
        margin: 14px 0 10px;
        padding: 0 30px 0 0;
    }
    a {
        font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
        font-size: 15px;
        font-weight: bold;
    }
}

@media (min-width: $screen-sm-min) and (max-width: $screen-md-max) {
    .main-wecome {
        padding: 47px 68px 75px;

        &:before {
            content: '';
            position: absolute;
            top: 100px;
            left: auto;
            right: -16px;
            background-image: url('../img/main-welcome-pic-tablet.jpg');
            width: 653px;
            height: 526px;
        }
        &__text {
            padding-right: 300px;
        }
        h1 {
            font-size: 46px;
        }
        &__top {
            min-height: 560px;
        }
    }

    .main-welcome-pros {
        &__column {
            margin-top: 35px;
        }
    }
}

@media (max-width: $screen-xs-max) {
    .main-wecome {
        text-align: center;
        padding: 40px 15px 50px;

        &:before {
            content: '';
            position: absolute;
            top: 283px;
            left: 50%;
            background-image: url('../img/main-welcome-pic-mobile.jpg');
            width: 403px;
            height: 269px;
            margin-left: -203px;
        }
        &__text {
            padding-right: 0;
            font-size: 14px;
            margin: 23px 0 20px;
        }
        h1 {
            font-size: 30px;
            text-align: center;
        }
        &__top {
            min-height: 490px;
        }
    }

    .main-welcome-pros {
        &__column {
            margin-top: 30px;
            text-align: center;
        }
        h2 {
            text-align: center;
            font-size: 21px;
        }
        p {
            padding: 0;
        }
    }
}