@import 'mixins/all';
@import 'components/all';
@import 'libs/all';
@import 'header';
@import 'footer';
@import 'login';
@import 'features';
@import 'pricing';
@import 'support';
@import 'try';

.clearfix {
    @include clearfix;
}
.text-left {
    text-align: left !important;
}
.text-center {
    text-align: center !important;
}
.text-right {
    text-align: right !important;
}
.hidden {
    display: none !important;
    @media (max-width: $screen-xs-max) {
        &--xs {
            display: none !important;
        }
    }
}
br.visible--lg {
    display: none;
}
.pull-left {
    float: left;
}
.pull-right {
    float: right;
}
strong {
    font-weight: bold;
}

.border-top {
    border-top: solid 1px #d9d9d9;
}

.list {
    li {
        margin: 12px 0 0;
        padding-left: 24px;
        background: url(../img/list-dot.png) no-repeat 0 50%;
    }
}

.color-danger {
    color: #bf0000;
}

h1,
.h1,
h2,
.h2,
h3,
.h3,
h4,
.h4,
h5,
.h5,
h6,
.h6 {
    color: #2d2d2d;
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-weight: bold;
    line-height: 1;
    text-align: left;
}

h1,
.h1 {
    font-size: 44px;
}
h2,
.h2 {
    font-size: 26px;
}
h3,
.h3 {
    font-size: 21px;
}
h4,
.h4 {
    font-size: 18px;
}
h5,
.h5 {
    font-size: 16px;
}
h6,
.h6 {
    font-size: 14px;
}

html,
body {
    position: relative;
    height: 100%;
}

html {
    background: #edeef2;
}
body {
    position: relative;
    color: #2f3030;
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    line-height: 1.6;
    min-width: 320px;
}

a {
    color: #bf0000;
    text-decoration: none;
    &:hover,
    &:focus {
        text-decoration: underline;
    }
}

.main-breadcrumbs {
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-size: 12px;
    margin: 29px 0 50px;
    a,
    span {
        background: url(../img/arrow-breadcrumbs.png) no-repeat 0 5px;
        padding-left: 18px;
        margin-left: 10px;
        color: #78797e;
        font-weight: 600;
        &:first-child {
            background: none;
            padding-left: 0;
            margin-left: 0;
        }
        &:last-child {
            color: #2a2a2a;
        }
    }
}

p.pic {
    margin: 25px 0 35px;
    img {
        max-width: 100%;
    }
}

.wrapper {
    width: 100%;
}

.container-fluid {
    @include clearfix;
    max-width: 1130px;
    margin: 0 auto;

    &--wide {
        max-width: 1342px;
    }
}

.main-wecome {
    position: relative;
    overflow: hidden;
    padding: 100px 0 90px;
    &:before {
        content: '';
        position: absolute;
        top: 22px;
        left: 50%;
        width: 930px;
        height: 622px;
        margin-left: -300px;
        background: url('../img/main-welcome-pic.jpg');
    }
    &__content {
        position: relative;
        z-index: 1;
    }
    &__text {
        font-size: 16px;
        margin: 35px 0 37px;
        padding-right: 650px;
    }
    h1 {
        font-size: 60px;
    }
    &__top {
        min-height: 497px;
    }
}

.main-welcome-pros {
    p {
        margin: 14px 0 10px;
        padding: 0 30px 0 0;
    }
    a {
        font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
        font-size: 15px;
        font-weight: bold;
    }
}

@media (min-width: $screen-lg-min) {
    br.visible--lg {
        display: block;
    }
}

@media (min-width: $screen-sm-min) and (max-width: $screen-md-max) {
    .main-wecome {
        padding: 47px 68px 75px;
        &:before {
            content: '';
            position: absolute;
            top: 100px;
            right: -16px;
            left: auto;
            width: 653px;
            height: 526px;
            background-image: url('../img/main-welcome-pic-tablet.jpg');
        }
        &__text {
            padding-right: 300px;
        }
        h1 {
            font-size: 46px;
        }
        &__top {
            min-height: 560px;
        }
    }

    .main-welcome-pros {
        &__column {
            margin-top: 35px;
        }
    }

    .main-breadcrumbs {
        margin-bottom: 40px;
    }
}

@media (max-width: $screen-xs-max) {
    body {
        font-size: 13px;
    }

    .main-wecome,
    .main-welcome-pros {
        font-size: 14px;
    }

    .main-wecome {
        text-align: center;
        padding: 40px 15px 50px;
        &:before {
            content: '';
            position: absolute;
            top: 283px;
            left: 50%;
            width: 403px;
            height: 269px;
            margin-left: -203px;
            background-image: url('../img/main-welcome-pic-mobile.jpg');
        }
        &__text {
            font-size: 14px;
            margin: 23px 0 20px;
            padding-right: 0;
        }
        h1 {
            font-size: 30px;
            text-align: center;
        }
        &__top {
            min-height: 490px;
        }
    }

    .main-welcome-pros {
        &__column {
            text-align: center;
            margin-top: 30px;
        }
        h2 {
            font-size: 21px;
            text-align: center;
        }
        p {
            padding: 0;
        }
    }


    h1,
    .h1 {
        font-size: 29px;
    }
    h2,
    .h2 {
        font-size: 21px;
    }
    h3,
    .h3 {
        font-size: 18px;
    }
    h4,
    .h4 {
        font-size: 16px;
    }
    h5,
    .h5 {
        font-size: 14px;
    }
    h6,
    .h6 {
        font-size: 12px;
    }

    .main-breadcrumbs {
        margin-bottom: 20px;
    }
}
